N8N_Slack_algolia_bot.json
{
  "name": "Slack Test",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C092Q8ZV2LW",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        -320
      ],
      "id": "761ad967-d8b5-45ad-b59a-25c128ed2e75",
      "name": "Slack Trigger",
      "webhookId": "fa17b269-7604-4472-8efa-c9073a1056db",
      "credentials": {
        "slackApi": {
          "id": "jw9U0YFAaN2VZOxT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.text }}",
        "options": {
          "systemMessage": "You are a helpful Slack assistant, Always form your responses to conform to Slack's formatting (not markdown). Users will ask you questions regarding Algolia. You have access to MCP server containing stackoverflow search tool, use it to answer user's queries for Algolia's business team  slug. Use simple search words and do not include \"algolia\" in the query.\nIf you don't have an answer to user's query, acknowledge that you don't know the answer and that they can refer to official docs at https://www.algolia.com/doc/",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -620,
        -320
      ],
      "id": "de058fde-e25a-436f-bcfc-a8a279214ffe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1220,
        280
      ],
      "id": "b149aaf5-41fe-4e41-a838-04a90d85fb32",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "suLZjPrnG1JCdnNB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('AI Agent').item.json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -220,
        -320
      ],
      "id": "56c80dff-1516-421b-a401-b3e973720d03",
      "name": "Send a message",
      "webhookId": "a57a3a66-3ae3-4058-82b0-d48ad5229279",
      "credentials": {
        "slackApi": {
          "id": "jw9U0YFAaN2VZOxT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $('Slack Trigger').item.json.user.split('').reduce((acc, char) => acc + char.charCodeAt(0), 0) }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -520,
        -60
      ],
      "id": "ead2f938-930e-4d5b-b67e-d712a07deacb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sseEndpoint": "https://lasting-nationally-yak.ngrok-free.app/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -340,
        -60
      ],
      "id": "20871ef1-f465-40c7-8008-3e4fb2facf2a",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -700,
        -60
      ],
      "id": "79bb1c76-ba1c-4f3f-8037-30fe1b6e1236",
      "name": "Claude 4",
      "credentials": {
        "openRouterApi": {
          "id": "mmTMVKjVQyoRofdV",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude 4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3ebcdc7-f37a-4366-82f2-f6b001597131",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7924c00e3e2c9ea105519439330f34c2775000de46bf5d15dd0fb402bc8b844f"
  },
  "id": "QwEtcMxUxqT9QV3D",
  "tags": []
}